
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: auto;
    min-height: 500px;
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

.create_account {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    margin: 20%;
    align-items: center;

}
.google {
    border: 1px solid black;
    margin: 20px;
}

input {
    width: 60%;
    text-align: center;
}
button {
    width: 20px;
}
